<mat-card>

  <mat-spinner *ngIf = "isLoading"> </mat-spinner>

  <form [formGroup]="form" (submit)="onSaveStudent()" *ngIf = "!isLoading">

    <h3> Enter student details</h3>
    <mat-form-field>
      <input
        matInput type="text"
        formControlName="firstName"
        placeholder="First Name">

        <mat-error *ngIf ="form.get('firstName')?.invalid"> Please enter first name</mat-error>

    </mat-form-field>

    <mat-form-field>
      <input
        matInput type="text"
        formControlName="lastName"
        placeholder="Last Name">

        <mat-error *ngIf ="form.get('lastName')?.invalid"> Please enter last name</mat-error>

    </mat-form-field>

    <mat-form-field>
      <input
        matInput type="email"
        formControlName="email"
        placeholder="first.last@student.jkuat.ac.ke">

        <mat-error *ngIf ="form.get('email')?.invalid"> Please enter email</mat-error>

    </mat-form-field>

    <mat-form-field>
      <input
        matInput type="text"
        formControlName="regNumber"
        placeholder="enm123-0012-2016">

        <mat-error *ngIf ="form.get('regNumber')?.invalid"> Please enter registration number</mat-error>

    </mat-form-field>

    <div style="margin-bottom: 1rem;">
      <button mat-stroked-button type="button" (click)="filePicker.click()"> Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>

    <div class="image-preview" *ngIf="imagePreview != '' && imagePreview" >
      <img [src]="imagePreview" [alt]="form.value.firstName">
    </div>

    <button
      mat-raised-button
      color = "accent"
      type = "submit" >Register Student</button>

  </form>



</mat-card>
